
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(13, 1, 6, 0.8); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  z-index: 100;
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* ====== LOGO ====== */
.navbar-logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 55px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

/* ====== LINKS ====== */
.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-links a {
  color: #cdd1c4; /* Ash gray */
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #9f7833; /* Golden brown */
}

/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}

/* === LOGIN BUTTON STYLE === */

.login-link {
  background: linear-gradient(135deg, #9f7833 0%, #cda45e 100%);
  color: #fff !important;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.login-link:hover {
  background: linear-gradient(135deg, #af7595 0%, #9f7833 100%);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.nombre{
  margin-top: 5px;
  text-align: center;
}

.nav-li{
  margin-top: 20px ;
}

.usuario-menu {
  position: relative;
  cursor: pointer;
}

.usuario-nombre {
  color: #d6a950;
  font-weight: 600;
}

.dropdown-menu {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: #121212;
  border: 1px solid #d6a950;
  border-radius: 6px;
  padding: 0.5rem 0;
  list-style: none;
  z-index: 100;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li:hover {
  background-color: #222;
}

.dropdown-menu a,
.dropdown-menu button {
  color: #d6a950;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
}

.dash{
  text-align: center;
  margin-left: 8px;
}